body{
    background-image: url("../images/background.png");
}

nav{
    
    background-color: #ffffff;
    border-bottom:solid #cccccc;
    font-family: 'Georgia', Times,'Times New Roman', serif;
}
 
.nametag{
    background-color: #4aaaa5;
}

#submit{
    background-color: #4aaaa5;
    color: #ffffff;
   
}

#submit:hover{
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nametag1{color: #ffffff;
}

a{
    color:#777777;
}

a:hover {
    text-decoration: none;
    background-color: #4aaaa5;
  }

.navbar{padding-left:0;
    padding-right:0;
}

#git-hub{
    float:right;
    margin-bottom: -5px;
    margin-top:-7px;

}

#div-4{
    clear:right;
}

.bodycontent{
    background-color: #ffffff;
    border:solid thin #dddddd;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* width:960px; */
    margin-top: 10%;
    margin-bottom: 10%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 3%;
}

.title{
    color:#4aaaa5;
    margin-top:3%;
    margin-bottom:1.5%;
}
.graybar{
    background-color: #cccccc;
    height:5px;
    margin-bottom: 1.5%;

}

p{
    color: #777777;
    line-height:2;
}

.p1{
    margin-right:1.5%;
}

.bar{
    padding-top: 0;
    padding-bottom: 0;  
}

.namebox{
    background-color: #4aaaa5;
}

.content-box{
    margin-bottom: 30%;
}

#portfolio{
    padding-right:10px;
    padding-left: 10px;
    border-right: solid 1px #dddddd;
    border-left: solid 1px #dddddd;
}

.link-box{
    padding-right:10px;
    padding-left: 10px;
}


.picbox{
    background-color: #4aaaa5;
    width:100%;
    height:25%;
    margin-top: 50%;
    text-align: center;
}

.pictext{
    color: #ffffff;
}

input{
    border-bottom-width: 3px;
}

textarea{
    border-top-width: 3px;
    resize: none;
}

footer{
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-top: 8px solid #4aaaa5;
    width:100%;
}

.text-footer{
    color:#cccccc;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 115px; /* Set the fixed height of the footer here */
    line-height: 90px; /* Vertically center the text there */
}
  
@media only screen and (min-width: 1030px) {
    .change{
        width:1120px;
        padding-right: 0;
        padding-left: 0;
        }
        .pictureboxes{
            height:300px;
        }
    .nametag1{
        margin-left:18px;
    }
}



@media only screen and (max-width: 992px) {
    .change{
    width:1120px;
    padding-right: 0;
    padding-left: 0;
    }
    .pictureboxes{
        height:300px;
    }
    .nametag1{
        margin-left:0px;
    }
}

@media only screen and (max-width: 770px){
    .pictureboxes{
        height:300px;
    }
    .nametag1{
        margin-left:18px;
    }

}

@media only screen and (max-width: 480px){
   
    .nametag1{
        margin-left:0px;
    }

}


@media only screen and (max-width: 321px){
    
    .nametag{
        width:300px;
    }
    .nametag1{
        margin-left:-10px;;
    }

}